/* App.css */
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f4f8;
  padding: 20px;
}

.app-header {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: grey;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 90%;
  max-width: 600px;
  background-color: white;
  padding: 10px 20px;
  margin: 40px auto; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  text-align: center;
}


.input-box {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  margin-bottom: 10px;
}

.add-button {
  width: 300px;
  padding: 12px;
  background-color: #3182ce;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.add-button:hover {
  background-color: #2b6cb0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f9ff; 
}



.input-container input {
  width: 100%;
  padding: 12px 16px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: none;
  outline: none;
}


.input-container button {
  margin-top: 12px; 
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #0056b3; 
}
